h1.title, p.description {
  margin-bottom: 2rem;
  text-align: center;
  cursor: default;

  &.title {
    font-size: 1.5rem !important;
  }
}

.description {
  color: #757575;
  text-align: center;
  margin-bottom: 2rem;
  cursor: default;

  a {
    cursor: pointer;
    color: rgb(0, 102, 204);
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-left: .3rem;
  }
}

.signup-form {
  min-width: 150px;
  width: 100%;

  .email-field, .confirm-email-field, .choose-a-password-field, .confirm-password-field {
    width: 100%;
  }
}

.spinner {
  width: 48px !important;
  margin: 0 auto;
}

.actionbar {
  &.desktop {
    display: flex;
    justify-content: space-between;
  }

  &.mobile button {
    display: block;
    width: 100%;

    &:first-child {
      margin-bottom: 1rem;
    }
  }
}
